//$roboto-font-path: "~materialize-css/dist/fonts/roboto/"
$roboto-font-path: "/fonts/"

@import "~materialize-css/sass/materialize.scss"
@import "modal"
@import "page-transition"
@import "load-spinner"

html
  @extend .grey.lighten-5

.layout
  max-width: 100%
  overflow: hidden

.cross-out
  text-decoration: line-through

i.little
  font-size: 2.5rem

.card-panel-header
  padding: 15px 5px 15px
  position: relative
  margin-top: 0
  margin-bottom: 2px

.card-panel-header-wrapper
  overflow: hidden
  transition: height 0.4s
  margin-left: -.75rem
  margin-right: -.75rem
  //margin-top: -0.5rem
  padding-left: 5px
  padding-right: 5px
  will-change: height


.card-panel-header-wrapper.card-panel-header-wrapper-collapsed
  height: 0 !important

.card-panel-header .btn-back
  position: absolute
  margin-left: -20px
  top: calc(50% - 28px)

.card-panel-header .btn-control
  margin-top: 5px
  display: block

.card-panel-header .card-panel-header-title
  height: 40px
  padding-top: 5px

.clickable-list-cell
    border: 1px #eeeeee solid
    border-collapse: collapse
.recipe-row
  margin-bottom: 0

.fixed-action-btn.left
  right: 0
  left: 23px